@using Microsoft.AspNetCore.Identity
@using App.Models.DatabaseModels

@inject SignInManager<Driver> SignInManager
@inject UserManager<Driver> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a id="manage" class="nav-link text-dark" asp-controller="Account" asp-action="Index" title="Manage">Mon compte</a>
		</li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
				<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Se déconnecter</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Register">S'inscrire</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">Se connecter</a>
		</li>
	}
</ul>
