@{
	ViewData["Title"] = "Error";
}

<div class="text-center">
	<h1 class="text-danger text-center fw-bold">ERROR</h1>
	<h2 class="text-danger text-center">Une erreur s'est produite lors du traitement de votre demande ! Vous n'avez peut-être pas les bons droits.</h2>
	<h3>Contactez l'administrateur du système pour plus de détails.</h3>
</div>
